:root {
     width: 100%;
     height: 100%;
     --my-background-color: #d5e1dd;
     --my-text-color: #032030;
 }

/*costumized fonts*/
 @font-face {
     font-family: mainFont;
     src: url(assets/fonts/CormorantGaramond-SemiBold.ttf); /*URL to font*/
 }
 @font-face {
     font-family: footerFont;
     src: url(assets/fonts/EduVICWANTBeginner-SemiBold.ttf); /*URL to font*/
 }

a {
    text-decoration: none;
}

.contentInfo a{
    font-style: oblique;
    font-size: 1em;
}
.contentInfo a:hover{
    color: #747e80;
    transform: scale(1.2);
    transition: all 0.8s;
}
/*hover the prounounce my name audio*/
audio:hover {
    transform: scale(1.5);
    transition: all 0.8s;
}

/*Body*/
 #bodyOfWebsite {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     background-image: url("assets/images/myCloud.jpg" );
     background-size: inherit;
     background-position: center;
     text-align: center;
     color: #032030;
     font-family: mainFont;
 }

 /*part of header: nav bar*/
.myNavbar{
    width: 100%;
}
 .myNavbar > ul{
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: repeat(6, 1fr);
     list-style-type: none;
     align-items: center;
     text-align: center;
     size: inherit;
     margin: 0em;
     padding: 0em;
     overflow: hidden;
     background-color: #8ac6d1;
     background-color: rgba(138,198,209,0.2);

 }

/*ul nav bar animation*/
.myNavbar > ul:hover{
    transform: scale(1.005);
}

/*ul childs li*/
 .myNavbar > ul > li {
     /*padding: 0em;*/
 }
.myNavbar > ul > li:hover {
    background-color: rgba(255,255,255,0.4);
    transition: all 0.5s;
}
/*logo properties*/
.myNavbar > ul img{
    width: 4em;
}
.myNavbar > ul img:hover {
    transform: rotateX(6rad);
    transition: all 1s;
}
/*nav sections name properties*/
 .myNavbar > ul > li > a{
     /*display: block;*/
     text-align: center;
     width: 3em;
     font-size: 1.2em;
     text-decoration-style: solid;
     text-decoration: none;
     color: #FFFFFF;
     font-family: footerFont;
 }
@media only screen and (max-width: 1024px) {
    .myNavbar > ul > li > a{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 600px) {
    .myNavbar > ul > li > a{
        font-size: 0.5em;
    }
}

 .myNavbar > ul > li > a:hover {
     color: #747e80;
     transform: scale(1.2);
     transition: all 0.8s;
 }

 /*Body*/
 /*part of header: h1*/
 #headerOfBody > h1{
     font-family: mainFont;
     padding: 0.4em;
     text-align:center;
     font-size: 2.5em;
 }
@media only screen and (max-width: 1024px) {
    #headerOfBody > h1{
        font-size: 2em;
    }
}
@media only screen and (max-width: 600px) {
    #headerOfBody > h1{
        font-size: 1.5em;
    }
}
#headerOfBody > p{
    font-family: mainFont;
    text-align:center;
    font-size: 1em;
}

#headerOfBody > h1:hover{
    color: #747e80;
    transform: scale(1.5);
    transition: all 0.8s;
}

/*part of main*/
 #bodyOfWebsite > #mainOfBody {
     display: flex;
     flex-direction: column;
 }

.column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
    align-content: center;
    text-align: center;
}

.subTitle > h2{
    font-family: mainFont;
    text-align:center;
    font-size: 1.5em;
}
@media only screen and (max-width: 1024px) {
    .subTitle > h2{
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 600px) {
    .subTitle > h2{
        font-size: 0.9em;
    }
}


.subTitle > h2:hover{
    color: #747e80;
    transform: scale(1.1);
    transition: all .5s;

}





.aboutContentImage {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery {
    flex: 24%;
    max-width: 24%;
    padding: 0 3px;
}

.gallery img {
    margin-top: 4px;
    vertical-align: middle;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1080px) {
.gallery {
        flex: 50%;
        max-width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .gallery {
        flex: 100%;
        max-width: 100%;
    }
}


.schoolContentImage {
    position: relative;
    width: 80%;
    overflow: hidden;
    padding-top: 56.25%;
}

.schoolContentImage > iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


fieldset {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: nowrap;*/
    /*align-items: center;*/
    /*line-height: 0.8em;*/
}
.contentInfo{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 40em;*/
}
.contentInfo:after{
    content: "";
    display: table;
    clear: both;
    text-align: left;

}

.contentInfo col{
    background-color: rgba(255,255,255,0.4);
}
.contentInfo a{
    text-decoration: none;
    color: #FFFFFF;
}
.contentInfo > p{
    font-size: 1em;
    text-align:left;
}
@media only screen and (max-width: 1024px) {
    .contentInfo > p{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 600px) {
    .contentInfo > p{
        font-size: 0.8em;
    }
}

.contentInfo tr:hover{
    transform: scale(1.1);
    transition: all .5s;
}



/* Style the footer */
.footer {
    padding: 10px;
    text-align: center;
    font-family: footerFont;
}

/* Responsive layout */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}







