:root {
    width: 100%;
    height: 100%;
    --my-background-color: #d5e1dd;
    --my-text-color: #032030;
}
@font-face {
    font-family: footerFont;
    src: url(assets/fonts/EduVICWANTBeginner-SemiBold.ttf); /*URL to font*/
}
/*Body*/
#bodyOfWebsite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/myCloud.jpg" );
    background-size: inherit;
    background-position: center;
    align-items: center;
    text-align: center;
    color: #032030;
    font-family: mainFont;
}

/*part of header: nav bar*/
.myNavbar{
    width: 100%;
}
.myNavbar > ul{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    align-items: center;
    text-align: center;
    /*size: inherit;*/
    overflow: hidden;
    background-color: rgba(138,198,209,0.2);

}

/*ul nav bar animation*/
.myNavbar > ul:hover{
    transform: scale(1.005);
}

/*ul childs li*/
.myNavbar > ul > li {
    /*padding: 0em;*/
}
.myNavbar > ul > li:hover {
    background-color: rgba(255,255,255,0.4);
    transition: all 0.5s;
}
/*logo properties*/
.myNavbar > ul img{
    width: 4em;
}
.myNavbar > ul img:hover {
    transform: rotateX(6rad);
    transition: all 1s;
}
/*nav sections name properties*/
.myNavbar > ul > li > a{
    /*display: block;*/
    text-align: center;
    width: 3em;
    font-size: 1.2em;
    text-decoration-style: solid;
    text-decoration: none;
    color: #FFFFFF;
    font-family: footerFont;
}
@media only screen and (max-width: 1024px) {
    .myNavbar > ul > li > a{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 600px) {
    .myNavbar > ul > li > a{
        font-size: 0.5em;
    }
}

.myNavbar > ul > li > a:hover {
    color: #747e80;
    transform: scale(1.2);
    transition: all 0.8s;
}

/*Body*/
/*part of header: h1*/
#headerOfBody > h1{
    font-family: mainFont;
    padding: 0.4em;
    text-align:center;
    font-size: 2.5em;
}
@media only screen and (max-width: 1024px) {
    #headerOfBody > h1{
        font-size: 2em;
    }
}
@media only screen and (max-width: 600px) {
    #headerOfBody > h1{
        font-size: 1.5em;
    }
}
#headerOfBody > p{
    font-family: mainFont;
    text-align:center;
    font-size: 1em;
}

#headerOfBody > h1:hover{
    color: #747e80;
    transform: scale(1.5);
    transition: all 0.8s;
}

/*part of main*/
#bodyOfWebsite > #mainOfBody {
    display: flex;
    flex-direction: column;
}



#bodyOfWebsite > #mainOfBody > ul{
    display: flex;
    padding: 10em;
    margin: 10em;
    flex-direction: column;
    align-items: center;
    column-gap: 4em;
    font-family: footerFont;
}
#bodyOfWebsite > #mainOfBody > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 4em;
    font-family: footerFont;
}

#addBtn{
    font-family: footerFont;
}
#addBtnDialog{
    background-color: rgba(138,198,209,0.2);
    border-color: rgba(138,198,209,0.2);
    font-family: footerFont;
}

#editBtnDialog{
    background-color: rgba(138,198,209,0.6);
    border-color: rgba(138,198,209,0.6);
    font-family: footerFont;
}
#okAddBtn{
    font-family: footerFont;
}

#cancelAddButton{
    font-family: footerFont;
}
#okEditBtn{
    font-family: footerFont;
}
#cancelEditBtn{
    font-family: footerFont;
}

.postEditButtons {
    background-image: url("assets/images/pen.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 2rem;
    text-align: right;
    font-size: 1rem;
    background-color: rgba(138,198,209,0.2);
    border-color: rgba(138,198,209,0.2);
    font-family: footerFont;
}
.postDeleteButtons {
    background-image: url("assets/images/trashBin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5rem;
    height: 2rem;
    text-align: right;
    font-size: 1rem;
    background-color: rgba(138,198,209,0.2);
    border-color: rgba(138,198,209,0.2);
    font-family: footerFont;
}

